:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: none;
  padding: 0px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.navbar {
  position: sticky;
  width: 100%;
  top: 0;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

@media (max-width: 576px) {

    h1 {
        font-size: 48px;
        line-height: 1.1;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 16px;
    }

    .navigation-links {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .navigation-links a {
        width: 90%;
        text-align: center;
        padding: 14px 12px;
        margin: 10px 0;
    }

    .about-paragraphs {
        flex-direction: column;
    }

    .email-link {
        font-size: 20px;
        padding: 0 12px;
    }

}
